extends base

block content 
    main.main
        .signup-form
            h2.heading-secondary.ma-bt-lg Create an account
            h4.heading-secondary.ma-bt-lg A mail has been sent to your email address to confirm your account creation
            