extends base

block content 
    main.main
        .signup-form
            h2.heading-secondary.ma-bt-lg Email Sent!
            h3.form__label.ma-bt-lg A mail has been sent to your email address to confirm your account creation
            