extends base

block content 
    main.main
        .signup-form
            h2.heading-secondary.ma-bt-lg Create an account
            form.form.form--signup
                .form__group
                    label.form__label(for='name') Name
                    input#nameSignup.form__input(type='text', placeholder='First Name  Surname', required)
                .form__group
                    label.form__label(for='email') Email address
                    input#emailSignup.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    label.form__label(for='password') Password
                    input#passwordSignup.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#passwordConfirmSignup.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Signup